.navbar-expand-lg {
    background-color: #77ccdd;
}
.navbar-expand-lg .navbar-brand {
    color: #fff;
    font-weight: 700;
}
.nav-bar-auth-btn {
    margin-left: auto;
}

.navbar-nav {
    display: block;
}
.navbar-nav li {
    display: inline-block;
    padding: 5px 10px;
}

.container {
    padding: 20px;
}

#time-wrapper {
    margin: 15% auto 0;
    min-width: 300px;
    text-align: center;
}

.current-time-content {
    font-size: 5em;
}

.alarm-input-btn {
    vertical-align: baseline;
    margin-left: 15px;
}

.alarm-time {
    margin-top: 15px;
    display: none;
}

.alert {
    width: 100%;
}

.card-deck {
    margin: auto;
    text-align: center;
}

.plans-header {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.free-signup-btn {
    margin-top: 48px;
}

.login-content-wrapper{
    width: 45%;
}
.signup-content-wrapper,
.login-content-wrapper {
    margin: 20px auto;
    padding: 0 20px 10px;
}
.signup-content-wrapper>p {
    font-weight: 300;
}
.signup-content-wrapper button,
.login-content-wrapper button {
    float: right;
}

.issue-tickets {
    margin: auto;
    max-width: 500px;
    width: 500px;
}
.issue-buttons {
    width: 100%;
}

.create-issue {
    margin: auto;
    width: 100%;
}
.create-form input[type='text'] {
    margin: auto;
    display: block;
}

.payment-message,
.payment-form {
    display: none;
}
.lead {
    font-weight: 400;
}

.issue-first-letter {
    position: absolute;    
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    left: 10px;
}

.issue-ticket {
    position: relative;
}

.pagination {
    padding-top: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.ticket-upvotes {
    margin-left: 15px;
}
.ticket-created-at {
    display: block;
}

@media only screen and (max-width: 768px) {
    .login-content-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {
    .login-content-wrapper {
        width: 90%;
    }
    .navbar-nav li {
        padding: 5px;
    }
    .navbar-brand {
        font-size: 1.1em;
    }
    .ticket-upvotes {
        margin-left: 0;
    }
    .ticket-created-at {
        display: block;
    }
    .chart-wrapper {
        width: 100%;
        position: relative;
    }
}