.navbar-expand-lg {
    background-color: #77ccdd;
}
.navbar-expand-lg .navbar-brand {
    color: #fff;
    font-weight: 700;
}
.nav-bar-auth-btn {
    margin-left: auto;
}

#time-wrapper {
    margin: 15% auto 0;
    min-width: 300px;
    text-align: center;
}

.current-time-content {
    font-size: 5em;
}

.alarm-input-btn {
    vertical-align: baseline;
    margin-left: 15px;
}

.alarm-time {
    margin-top: 15px;
    display: none;
}

.alert {
    width: 100%;
}

.card-deck {
    margin: auto;
    text-align: center;
}

.plans-header {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.free-signup-btn {
    margin-top: 48px;
}

.login-content-wrapper{
    width: 45%;
}
.signup-content-wrapper,
.login-content-wrapper {
    margin: 20px auto;
    padding: 0 20px 10px;
}
.signup-content-wrapper>p {
    font-weight: 300;
}
.signup-content-wrapper button,
.login-content-wrapper button {
    float: right;
}

.issue-tickets {
    margin: auto;
}
.issue-buttons {
    width: 100%;
}

.create-feature,
.create-bug-issue {
    text-align: center;
    width: 100%;
}
.create-form input[type='text'] {
    margin: auto;
    display: block;
}

@media only screen and (max-width: 768px) {
    .login-content-wrapper {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {
    .login-content-wrapper {
        width: 90%;
    }
}