{% extends "base.html" %}
{% load static %}
{% block title %}Chart{% endblock %}
{% block head_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

{% endblock %}

{% block navbar %} 
    <div class="nav-bar-auth-btn">
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'logout' %}" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In</a>
            <a class="btn btn-success" href="{% url 'signup' %}" role="button">Sign Up</a>
        {% endif %}
    </div>
{% endblock %}

{% block navbar-left %}
  <li class=""><a class="nav-link" href="{% url 'graphs' %}">Graphs</a></li>
{% endblock %}

{% block content %}
<div class="chart-wrapper">
    <h1>Chart</h1>
    <h2>{{ numB }}</h2>
    {{ data }}
    <canvas id="pieChart" width="400" height="400"></canvas>
    <canvas id="pieChart_feature" width="400" height="400"></canvas>
    <canvas id="myChart" width="400" height="400"></canvas>
    <canvas id="myChart_weekly" width="400" height="400"></canvas>
    <canvas id="myChart2" width="400" height="400"></canvas>
</div>


{% endblock %}
{% block js_footer %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>
{% endblock %}